# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# Android
android/
*.keystore

# iOS
ios/
*.xcworkspace
*.xcodeproj
*.pbxproj
*.xcuserdata
*.xcuserstate
*.idea/
Pods/
Podfile.lock

# Expo
.expo/
.expo-shared/

# Misc
.env
*.tar.gz
dist/
web-build/
build/

